In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('C:/Users/Admin/Downloads/Salary.csv')

In [11]:
df.head()

   rank discipline   phd  service   sex  salary
0  Prof          B  56.0       49  Male  186960
1  Prof          A  12.0        6  Male   93000
2  Prof          A  23.0       20  Male  110515
3  Prof          A  40.0       31  Male  131205
4  Prof          B  20.0       18  Male  104800

In [13]:
df.tail

<bound method NDFrame.tail of     rank discipline   phd  service     sex  salary
0   Prof          B  56.0       49    Male  186960
1   Prof          A  12.0        6    Male   93000
2   Prof          A  23.0       20    Male  110515
3   Prof          A  40.0       31    Male  131205
4   Prof          B  20.0       18    Male  104800
..   ...        ...   ...      ...     ...     ...
75  Prof          B   NaN       17    Male  124312
76  Prof          B  17.0       17  Female  124312
77  Prof          A  28.0       14  Female  109954
78  Prof          A  23.0       15  Female  109646
79  Prof        NaN  23.0       15    Male  109646

[80 rows x 6 columns]>

In [15]:
df.describe

<bound method NDFrame.describe of     rank discipline   phd  service     sex  salary
0   Prof          B  56.0       49    Male  186960
1   Prof          A  12.0        6    Male   93000
2   Prof          A  23.0       20    Male  110515
3   Prof          A  40.0       31    Male  131205
4   Prof          B  20.0       18    Male  104800
..   ...        ...   ...      ...     ...     ...
75  Prof          B   NaN       17    Male  124312
76  Prof          B  17.0       17  Female  124312
77  Prof          A  28.0       14  Female  109954
78  Prof          A  23.0       15  Female  109646
79  Prof        NaN  23.0       15    Male  109646

[80 rows x 6 columns]>

In [17]:
df.shape

(80, 6)

In [19]:
df.size

480

In [21]:
df.info

<bound method DataFrame.info of     rank discipline   phd  service     sex  salary
0   Prof          B  56.0       49    Male  186960
1   Prof          A  12.0        6    Male   93000
2   Prof          A  23.0       20    Male  110515
3   Prof          A  40.0       31    Male  131205
4   Prof          B  20.0       18    Male  104800
..   ...        ...   ...      ...     ...     ...
75  Prof          B   NaN       17    Male  124312
76  Prof          B  17.0       17  Female  124312
77  Prof          A  28.0       14  Female  109954
78  Prof          A  23.0       15  Female  109646
79  Prof        NaN  23.0       15    Male  109646

[80 rows x 6 columns]>

In [23]:
df['sex'].dtype

dtype('O')

In [27]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [29]:
df['rank'].dtype

dtype('O')

In [31]:
df['salary'].dtype

dtype('int64')